.advantages {
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
}
.advantages-container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.advantages-img{
    &__girl{
        top: 120px;
        left: 0;
        z-index: -1;
        @media(max-width:1200px){
            max-width: 650px;
            top: 30px;
            left: -30px;
            z-index: -1;
        }
    }
    &__butterfly{
        right: 0;
        bottom: 0;
        &--bottom{
            bottom: -10%;
            right: 215px;
        }
    }
    &__circle{
        top: 229px;
        right: 65px;
        @media(max-width:1200px){
            top: 200px;
            right: 0;
        }
        &--bottom{
            position: absolute;
            // top: 50%;
            bottom: -17%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
 
}
.advantages-heading__title {
    margin-bottom: -88px;
}

.advantages-wrapper {
    margin-top: 125px;
}
.advantages-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.advantages-column {
    flex: 33.3333%;
    max-width: 33.3333%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 25px;
    @media(max-width:992px){
        flex: 0 50%;
        max-width:50%;
    }
    @media(max-width:768px){
        flex: 100%;
        max-width:100%;
    }
}

.advantages-item {
    min-height: 285px;
    height: 100%;
    padding: 18px 23px;
    background-image: url('../images/advantages-img/card-bg.png');
    background-size: cover; 
    background-position: center;
    @media (max-width:768px){
        img{
            max-width: 80px;
        }
    }
}

.advantages-item__text {
    max-width: 331px;
    width: 100%;
    margin-top: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    @media(max-width:1200px){
        font-size: 18px;
    }
    @media(max-width:768px){
        max-width: 291px;
        margin-top: 10px;
    }
}
