.footer {
    padding: 88px 0;
    background: #2E1056;
    @media(max-width:768px){
        padding: 42px 0;
    }
}
.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:768px){
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
}

.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}