.moreReviews {
    padding: 75px 0;
}
.moreReviews-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.moreReviews-heading {
    margin-bottom: 82px;
}

.moreReviews-slide .swiper-slide {
    width: 300px;
    height: 720px;
}
.moreReviews-slide .swiper-slide-active {
    width: 520px;
    height: 720px;
}
.moreReviews-swiper {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow: visible;
}
.moreReviews-row {
    display: flex;
}
.swiper-slide {
    flex-shrink: 0;
}
.moreReviews-slide {
    z-index: 1;
    max-width: 525px;
    width: 100%;
    max-height: 741px;
}
.moreReviews-item {
    padding: 60px 55px;
    background: rgba(139, 0, 167, 0.45);
    box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35.8px);
    border-radius: 43px;
    box-sizing: border-box;
}
.moreReviews-slide:not(.swiper-slide-active) p {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 620px;
    color: #FFFFFF;
    opacity: 0.7;
}
.moreReviews-slide.swiper-slide-active p {
    font-size: 24px;
}
.moreReviews-pagination {
    margin-top: 100px;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    margin: 0 24px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    background-color: #FF00B7;
    box-shadow: 0px 4px 17px #FF00B7;
    border: none;
    opacity: 1;
}
