.recording {
    position: relative;
    padding: 105px 0;
}

.recording-container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.recording-decor__girl {
    bottom: -50px;
    left: 0;
    max-height: 586px;
}

.recording-decor__butterfly {
    bottom: 0;
    left: 256px;
}

.section-title--big {
    margin-bottom: -88px;
}

.recording-wrapper {
    margin-top: 88px;
    display: flex;
}

.recording-content {
    max-width: 519px;
    width: 100%;
    margin-right: 45px;
}

.recording-content__text {
    margin-bottom: 50px;
}

.recording-content__info {
    padding-left: 120px;
}

.recording-info__tel,
.recording-info__address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.recording-info__tel {
    display: block;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 49px;
    text-shadow: 0px 4px 17px #FF00B7;
}

.recording-info__address {
    font-size: 24px;
    line-height: 29px;
}

.registration-form__wrapper {
    max-width: 626px;
    width: 100%;
}

.registration-form__group {
    display: flex;
    align-items: center;
    gap: 30px;
    max-height: 62px;
}

.registration-form__group--first {
    margin-bottom: 24px;
}

.registration-form__group--first input {
    max-width: 297px;
    width: 100%;
}

.registration-input {
    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.5;
        transition: all 0.3s ease;
    }

    padding: 23px;
    width: 100%;
    background: rgba(255, 0, 183, 0.08);
    border: 1px solid #FF00B7;
    border-radius: 15px;
    box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.08);
}

.registration-input:focus::placeholder,
.registration-input:not(:placeholder-shown)::placeholder {
    font-size: 12px;
    transform: translateY(-20px);
    opacity: 0.5;
}

.registration-input:valid {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.registration-form__textarea {
    width: 100%;
    min-height: 256px;
    padding: 23px;
    margin-top: 25px;
    outline: none;
}

.registration-consent {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 24px;
}

.registration-consent label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.5;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.registration-consent label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid rgba(255, 0, 183, 0.8);
    border-radius: 2px;
}

.registration-consent label:hover:before {
    border-color: rgba(255, 0, 183, 0.8);
}

.registration-consent input[type="checkbox"] {
    display: none;
}

.registration-consent input[type="checkbox"]:checked + label:before {
    content: '\2714';
    font-size: 15px;
    color: #FF00B7;
    text-align: center;
    line-height: 20px;
}

.recording-submit {
    cursor: pointer;
    width: 100%;
    padding: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s all;
}






